body {
  background-color: #f3f3f3;
}

.App {
  text-align: center;
}

.gradient {
  background: #02AAB0;
  background-image: linear-gradient(rgb(255,71,118), rgb(255,91,156));
  color: white;
}

.search, .card {
  border-radius: 23px;
}

.rounded-top {
  border-radius: 23px 23px 0 0 !important;
}

.rounded-bottom {
  border-radius: 0 0 23px 23px !important;
}
